h1 { 



}

#fleet-select {
    width: 100%;
    margin-left: 400px;

}

body {
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 20px;
}

#submit {
   
}
